<div class="Container">
    <div class="About">
        <h1>About US</h1>

        <p>Welcome to Famazon - your online store for high-quality kitchenware and accessories! <br>
            Our passion for cooking and baking inspired us to curate a carefully selected range of kitchen products that
            combine both functionality and style. <br>
            From everyday essentials to innovative gadgets and premium utensils, you'll find everything you need to turn
            your kitchen into a place of creativity and joy.
            We offer a wide variety of products, including chef knives, frying pans, pots, baking molds, storage
            solutions, and much more – all from renowned brands known for their quality. Whether you're a beginner in
            the kitchen or a seasoned pro, our collection caters to everyone who loves to explore the art of cooking and
            perfect preparation.
            Our goal is to provide you with a shopping experience as simple and enjoyable as cooking itself. With fast
            delivery and excellent customer service, we ensure that you receive your new kitchen tools quickly so you
            can start cooking right away.
            Browse our selection and discover how much fun it is to cook and bake with the right tools. We are proud to
            accompany you on your culinary journey! <br><br>
            <b>Your Kitchen. Your Style. Your Passion.</b>
        </p>
    </div>

    <div class="Reason">
        <h2>Why us?</h2>
        <ul>
            <li>We deliver to over 50 countries</li>
            <li>Lifetime guarantee</li>
            <li>Positive experience not only with private customers but also in the catering industry</li>
        </ul>
    </div>
</div>