<nav>
    <ul class="nav justify-content-end align-items-center">
        <span class=" mx-auto">Famazon <img src="img/cookIcon.png" alt="cook icon" width="40px"></span>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="about">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="cart">Cart</a>
        </li>
    </ul>
</nav>