<div class="container my-4">
  <h1>Your Cart</h1>
  @if(cartItems.length > 0){
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of cartItems; track item.id) {
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.price }} €</td>
          <td><button class="quantity" (click)="decrementQuantity(item.id)">-</button>
            <span> {{item.quantity}} </span>
            <button class="quantity" (click)="incrementQuantity(item.id)">+</button>
          </td>
          <td>{{ item.price * item.quantity }} €</td>
          <td>
            <button class="btn btn-dark btn-sm" (click)="removeItem(item.id)">Remove</button>
          </td>
        </tr>
        }
        <tr class="Charges">
          <td>Service</td>
          <td></td>
          <td></td>
          <td>{{ serviceCharge }} €</td>
          <td></td>
        </tr>
        <tr class="Total">
          <td>Total</td>
          <td></td>
          <td></td>
          <td>{{ total }} €</td>
          <td></td>
        </tr>
        @if (total !== discountedTotal) {
        <tr class="Charges">
          <td>Discount (15%)</td>
          <td></td>
          <td></td>
          <td>-{{ discount }} €</td>
          <td></td>
        </tr>
        <tr class="Total">
          <td>Discounted Total</td>
          <td></td>
          <td></td>
          <td>{{ discountedTotal }} €</td>
          <td></td>
        </tr>
        }
      </tbody>
    </table>
    <div class="text-end">
      @if (discountedTotal !== total) {
      <p>Applied discount of 15%</p>
      }
      <h4>Total: € {{ discountedTotal }}</h4>
    </div>
  </div>
  }@else{
  <p>Your cart is empty!</p>
  }
</div>