<div class="Container">

        <div>
            <h1>Welcome on Famazon</h1>
            <br>
            <p>Do you want to renew your old kitchen appliances or <br>
                simply equip yourself with new ones? <br>
                You've come to the right place. <br>
                Not only because we have years of experience with quality, <br>
                but also because we have something for every price range. <br>
                So feel free to explore the offers!</p> 
                <br>
                <a routerLink="/products" class="btn btn-outline-light">See the offers</a>
        </div>
        <img src="img/cookIcon.png" alt="Famazon icon">

</div>

       